TARGET_URL="https://www.avito.ru/stupino/kvartiry"
MAX_PAGES="10"
RUN_MODE="once"  # once|loop
DAILY_RUN_AT="09:00"
TIMEZONE=""

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="avito_user"
POSTGRES_PASSWORD="avito_password"
POSTGRES_DB="avito_db"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
